<nav th:fragment="navigation">
    <a href="/"><img src="/images/car-logo.png" class="logo" alt="logo"></a>
    <div class="my-ads-and-favorite">
        <a href="#"><i class="fa-solid fa-user"></i></a>
        <a href="#"><i class="fa-solid fa-star"></i></a>
        <a href="#"><i class="fas fa-newspaper"></i></a>
    </div>
    <div class="menu">
        <a href="#">About</a>
        <div class="dropdown">
            <a href="#" class="dropbtn">Add <i class="fas fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="#">Car</a>
                <a href="#">Motorcycle</a>
            </div>
        </div>
        <a href="#">Admin</a>
        <a href="#">Contact</a>
        <a href="#">Register</a>
        <a href="#">Login</a>
        <form method="POST" action="/user/logout">
            <button type="submit">Logout</button>
        </form>
    </div>
    <div class="flags">
        <a href="#"><img src="/images/en-flag.png" alt="English"></a>
        <a href="#"><img src="/images/bg-flag.png" alt="Bulgarian"></a>
    </div>
</nav>