@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Pacifico&display=swap');

body {
    background: url('https://res.cloudinary.com/db1rc9fon/image/upload/v1721001180/about-background_r1qdjn.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 80%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.card-body h3{
    font-size: 1rem;
}

.card-body p {
    font-size: 1rem;
}

.about-container{
    height: 100%;
    padding-top: 5rem;
}

.container-font {
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.btn{
    margin-bottom: 4rem;
}


@media screen and (max-width: 1000px) {

    .about-container *{
        font-size: 1.8rem;
    }

    .about-container{
        padding-top: 18rem;
    }
}
