body {
    background: url('https://res.cloudinary.com/db1rc9fon/image/upload/v1721071226/control-room_e7jvho.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 80%;
    background-color: black;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.users{
    padding: 6rem 5rem 3rem 5rem;
    width: 80%;
}


.avatar.sm {
    width: 2.25rem;
    height: 2.25rem;
}

.table-nowrap .table td,
.table-nowrap .table th {
    white-space: nowrap;
}

.table>:not(caption)>*>* {
    padding: 0.75rem 1.25rem;
    border-bottom-width: 1px;
}

table th {
    font-weight: 600;
    background-color: rgba(26, 25, 25, 0.9);
}

.table-card{
    background-color: rgba(26, 25, 25, 0.9);
    color: white;
}


.table td{
    text-align: center;
    vertical-align: middle;
}

#toggleButton{
    cursor: pointer;
}


@media screen and (max-width: 1410px) {

    .users{
        margin: 0;
        width: 100%;
    }

    .card{
        font-size: 1rem;
    }

    .h6{
        font-size: 1rem;
    }

    .table>:not(caption)>*>* {
        padding: 0.20rem 0.5rem;
    }

    .btn-sm{
        padding: 1px 1px;
        font-size: 1rem;
    }

}

@media screen and (max-width: 1140px) {
    .users{
        margin: 0;
        width: 100%;
    }

    .card{
        font-size: 0.9rem;
    }

    .h6{
        font-size: 1rem;
    }

    .table>:not(caption)>*>* {
        padding: 0.10rem 0.2rem;
    }

    .btn-sm{
        padding: 1px 1px;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 900px) {
    .users{
        margin: 0;
        width: 100%;
        padding: 6rem 1rem 3rem 1rem;
    }

    .card{
        font-size: 0.8rem;
    }

    .h6{
        font-size: 0.8rem;
    }

    .table>:not(caption)>*>* {
        padding: 0.10rem 0.1rem;
    }

    .btn-sm{
        padding: 1px 1px;
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 730px) {
    .users{
        margin: 0;
        width: 100%;
        padding: 5rem 0.5rem 3rem 0.5rem;
    }

    .card{
        font-size: 0.6rem;
    }

    .h6{
        font-size: 0.6rem;
    }

    .table>:not(caption)>*>* {
        padding: 0.10rem 0.1rem;
    }

    .btn-sm{
        padding: 1px 1px;
        font-size: 0.6rem;
    }
}

