body {
    background: url('https://res.cloudinary.com/db1rc9fon/image/upload/v1720999966/registation-page_qwbeho.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.register-page{
    width: 30rem;
    text-align: center;
    position: relative;
    bottom: 2rem;
}

.register{
    text-align: center;
    backdrop-filter: blur(0.4rem);
    padding: 1rem 0;
    border-radius: 2rem;
}

.picture{
    display: inline-block;
    background-color: rgba(236, 234, 234, 0.3);
    padding: 2rem;
    border-radius: 50%;
    margin-bottom: 2rem;
    cursor: pointer;
}

.element {
    position: relative;
    margin-bottom: 1.5rem;
}

.element label {
    margin-right: 0.5rem;
}

.element input {
    flex: 0.5;
    padding: 0.5rem 0;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 2px solid white;
    color: white;
    font-size: 1em;
    width: 80%;
}

.element input::placeholder {
    color: white;
    opacity: 0.6;
}

.element input:focus {
    border-bottom: 2px solid yellowgreen;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.register button{
    background-color: #ec0a0a;
    border: none;
    color: white;
    padding: 1rem 1.3rem;
    text-align: center;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
    width: 40%;
    border-radius: 2rem;
}

button:hover {
    background-color: #9ea39e;
}

.element small {
    position: relative;
    display: block;
    max-width: 80%;
    left: 13%;
    margin-top: 0.2rem;
}

.user-picture {
    display: none;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

@media screen and (max-width: 1550px) {

    .element{
        margin-bottom: 1rem;
    }

    .register{
        margin-top: 11rem;
    }
}

@media screen and (max-width: 1340px) {

    *{
        font-size: 1rem;
    }


}

@media screen and (max-width: 1180px) {

    .picture{
        padding: 1rem;
        margin-bottom: 0.2rem;
    }
}

@media screen and (max-width: 900px) {

    *{
        font-size: 0.9rem;
    }


    .register button{
        padding: 0.7rem 0.9rem;
    }
}

@media screen and (max-width: 650px) {

    .register button{
        padding: 0.7rem 0.9rem;
    }

}

