@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body{
    background: url('../images/login-page.jpeg');
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-page {
    width: 50rem;
    color: #0e62ca;
    text-align: center;
    position: relative;
    bottom: 6rem;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 26rem;
    margin: 0 auto ;
    padding: 3.5rem 3.5rem 2.5rem 3.5rem;
    text-align: center;
    box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.4), 0 5px 5px 0 rgba(0, 0, 0, 0.50);
}

.form span {
    font-family: "Roboto", sans-serif;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    opacity: 0.8;
    padding: 1rem;
    width: 100%;
    margin: 0 0 1rem;
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 1rem;
    padding: 1rem;
    box-sizing: border-box;
    font-size: 1rem;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: 0.6;
}

.form button {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #fff;
    width: 100%;
    border: 0;
    padding: 1rem;
    color: black;
    font-size: 0.8rem;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
    opacity: 0.6;
    background-color: #3475c4;
}

.form button:hover,
.form button:active {
    background: #4b91e7;
}

.form button:focus {
    box-shadow: 0 0 1rem #7BB1FF, 0 0 1rem #7BB1FF;
    background-color: #72a2e4;
    border-radius: 1rem;
    color: #fff;
    opacity: 1;
}

.form input:focus {
    box-shadow: 0 0 20px #fff, 0 0 1rem #fff;
    border-radius: 1rem;
    opacity: 1;
}

.form .message {
    margin: 1.5rem 0 0;
    color: #b3b3b3;
    font-size: 15px;
}
.form .message a {
    color: #fff;
    text-decoration: none;
}

.form .message a:hover {
    color: #3475c4;
}

.form .message a:focus {
    box-shadow: 0 0 1rem #7BB1FF, 0 0 1rem #7BB1FF;
    background-color: #5691E6;
    border-radius: 1rem;
    color: #fff;
    opacity: 1;
}

body,
.acrylic::before {
    background: url('../images/login-page.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.acrylic::before {
    filter: blur(1rem);
    content: "";
    position: absolute;
    left: -10px;
    top: -10px;
    width: calc(100% + 1rem);
    height: calc(100% + 1rem);
    z-index: -1;
}

.acrylic::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.1;
    border: 1px solid #fff;
    background: #fff;
}