body {
    background: url('/images/my-favorite-vehicless.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.media img{
    width: 15rem;
    height: 10rem;
    object-fit: cover;
    border: 0.2rem solid rgb(59, 59, 59);
}

.media-body a {
    text-decoration: none;
}

/* Line with text */
.line-with-text {
    display: flex;
    align-items: center;
    padding-top: 5rem;
}

.line-1 {
    flex-grow: 1;
    border-bottom: 0.5rem solid #590649;
    margin: 0 0 0 2rem;
    border-radius: 1rem;
}

.line-2 {
    flex-grow: 1;
    border-bottom: 0.5rem solid #a9adad;
    margin: 0 2rem 0 0;
    border-radius: 1rem;
}

.text-line {
    margin: 0 0.4rem;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem;
    border: 0.3rem solid transparent;
    border-image: linear-gradient(to right, #590649 50%, #a9adad 50%) 1;
    background-clip: padding-box;
}


@media screen and (max-width: 992px) {
    .media{
        flex-direction: row !important;
    }

    .ml-4{
        margin: 0 1rem 0 0 !important;
    }

    .media-body{
        margin-top: 1rem;
    }
}

@media screen and (max-width: 768px) {

    .list-group-item{
        padding: 0 !important;
    }

    .d-flex{
        flex-direction: column;
    }

    .media img{
        height: 13rem;
    }

    .buttons{
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}

@media screen and (max-width: 700px) {
    *{
        font-size: 0.7rem;
    }

    .media img{
        height: 11rem;
    }
}

@media screen and (max-width: 600px) {
    .media-body{
        margin-top: 0;
    }
}