body {
    background: url('/images/my-vehicles.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.media img {
    width: 15rem;
    height: 12rem;
    object-fit: cover;
    border: 0.2rem solid rgb(59, 59, 59);
}

.media-body a{
    text-decoration: none;
}

/* Line with text */
.line-with-text {
    display: flex;
    align-items: center;
    padding-top: 5rem;
}

.line-1, .line-2 {
    flex: 1;
    height: 2px;
    background: linear-gradient(to right, #00f260, #0575e6);
    border-radius: 1px;
    box-shadow: 0 0 10px rgba(0, 242, 96, 0.5), 0 0 10px rgba(5, 117, 230, 0.5);
}

.text-line {
    margin: 0 0.4rem;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem;
    border: 0.3rem solid transparent;
    border-image: linear-gradient(to right, #356147, #2f4b68) 1;
    background-clip: padding-box;
}