@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 1rem 4rem 1rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

nav.scrolled {
    background-color: black;
    z-index: 100;
}

nav .logo{
    width: 9rem;
}

nav .menu{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

nav .menu a {
    text-decoration: none;
}

nav .menu a, nav .menu form button{
    color: #fff;
    margin-left: 1rem;
    position: relative;
}

nav .menu a::after,
nav .menu form button::after {
    content: '';
    position: absolute;
    bottom: -0.3rem;
    left: 0;
    width: 0%;
    height: 0.15rem;
    background-color: #dd0707;
    transition: width 0.4s;
}

nav .menu a:hover::after,
nav .menu form button:hover::after {
    width: 100%;
}

nav .flags {
    display: flex;
}

nav .flags a{
    width: 1.5rem;
    margin-left: 0.4rem;
}

nav i{
    color: white;
}

nav .my-ads-and-favorite a{
    margin-left: 0.4rem;
}

nav .menu .dropdown-content {
    display: none;
    position: absolute;
    background-color: #524f4f;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

nav .menu .dropdown:hover .dropdown-content {
    display: block;
}

nav .menu .dropdown-content a {
    color: #fff;
    margin: 1rem 2rem 1rem 1rem;
    display: block;
}

nav .menu form button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: inherit;
    padding: 0;
}


.menu-button{
    display: none;
}

.menu-button a i{
    color: red;
}


@media screen and (max-width: 900px) {

    nav .menu a{
        margin-top: 0.4rem;
    }

    .dropdown{
        margin-top: 0.4rem;
    }

    .menu-button {
        display: block;
        text-align: center;
        margin-left: 1rem;
        font-size: 1.8rem;
    }

    nav {
        font-size: 1rem;
        display: block;
        text-align: center;
        background-color: black;

    }

    nav a img {
        margin: 0 auto;
        margin-bottom: 0.3rem;
    }

    nav a .logo {
        width: 6.5rem;
        height: auto;
    }

    .menu {
        display: block;
        flex-direction: column;
    }

    .flags {
        justify-content: center;
        text-align: center;
        width: 100%;
        margin-left: 0.3rem;
        margin-top: 0.3rem;
    }

    nav .flags a {
        width: 1.5rem;
        height: auto;
    }

    nav .menu,
    .my-ads-and-favorite,
    nav .flags {
        display: none;
    }

    nav .menu.menu-open,
    .my-ads-and-favorite.menu-open,
    nav .flags.menu-open {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .menu-button a i{
        font-size: 1.5rem;
    }
}




@media screen and (max-width: 700px) {
    nav {
        font-size: 0.7rem;
    }

    nav a .logo {
        width: 5.9rem;
        padding-left: 1rem;
    }

    .menu-button a i{
        font-size: 1.1rem;
        margin-top: 0.7rem;
    }
}


@media screen and (max-width: 500px) {

    .menu-button {
        font-size: 0.8rem;
    }

    nav {
        font-size: 0.6rem;
    }

    nav a .logo{
        width: 5rem;
    }

    .flags {
        width: 100%;
    }

    nav .flags a {
        width: 1rem;
    }

    .menu-button a i{
        font-size: 1rem;
        margin-top: 0.5rem;
    }
}
