body {
    background: url('/images/user-profile.jpeg');
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: black;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: auto;
}

.profile {
    margin: 10rem auto 0 auto;
    width: 90%;
}

.card {
    background-color: transparent;
    backdrop-filter: blur(0.3rem);
    border: 0.1rem solid white;
    color: white;
    overflow: auto;
}

.list-group li {
    background-color: transparent;
    border: 0;
}

.list-group-item{
    align-items: center;
    margin-top: 1rem;
}

div input {
    background-color: bisque;
}

.edit-icon {
    margin-left: 0.5rem 0 0 0.2rem;
    cursor: pointer;
    color:white;
    padding-top: 0.5rem;
}

.edit-input {
    display: none;
    width: 75%;
    height: 1.5rem;
}

.save-button {
    display: none;
    margin-top: 5px;
}

li input{
    width: 20%;
}

.info-1{
    height: 30rem;
}

.info-2{
    height: 24rem;
    padding: 2rem;

}

.info-2 .list-group-item{
    padding: 0;
    margin: 0.3rem;
}

.button-submit{
    text-align: center;
    margin: 2rem auto 6rem auto;

}

span{
    display: inline-block;
    max-width: 20rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media screen and (max-width: 1700px) {

    .profile {
        margin: 6rem auto 0 auto;
        width: 90%;
    }
}

@media screen and (max-width: 1560px) {

    span{
        max-width: 18rem;
    }

}

@media screen and (max-width: 1560px) {

    span{
        max-width: 13rem;
    }

}

@media screen and (max-width: 1200px) {

    span{
        max-width: 10rem;
    }

}

@media screen and (max-width: 1100px) {

    .row{
        flex-direction: column;
    }

    .row .col-lg-5{
        max-width: 80%;
        margin: 0 auto;
    }

    .row  .col-lg-7{
        margin-top: 0.5rem;
        max-width: 80%;
        margin: 0 auto;
    }

    span{
        max-width: 20rem;
    }

    .list-group-item .row{
        flex-direction: row;
    }
}

@media screen and (max-width: 900px) {

    .profile {
        margin: 8rem auto 0 auto;
    }
}

@media screen and (max-width: 800px) {

    span{
        max-width: 13rem;
    }

    *{
        font-size: 0.9rem;
    }

    .list-group-item{
        margin: 0.5rem;
        padding: 0.3rem;
    }

    .row .mb-3{
        margin-bottom: 0 !important;
    }

    .info-1{
        height: 23.5rem;
    }

    .info-2{
        height: 18rem;
        padding: 2rem;

    }

    .p-1{
        width: 5rem;
    }

    .button-submit{
        margin-bottom: 3rem;
    }

    .col-sm-3{
        padding-right: 0;
    }
}

@media screen and (max-width: 650px) {
    span{
        max-width: 9rem;
    }

    *{
        font-size: 0.8rem;
    }

    .col-sm-3{
        width: 30%;
    }

    .col-sm-9{
        width: 70%;
    }

}