body {
    background: url('https://res.cloudinary.com/db1rc9fon/image/upload/v1721039767/show-page_xdslmo.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Line with text */
.line-with-text {
    display: flex;
    align-items: center;
    margin-top: 5rem;
}

.line-1 {
    flex-grow: 1;
    border-bottom: 0.5rem solid #f6217d;
    margin: 0 0 0 2rem;
    border-radius: 1rem;
}

.line-2 {
    flex-grow: 1;
    border-bottom: 0.5rem solid #235bf3;
    margin: 0 2rem 0 0;
    border-radius: 1rem;
}

.text-line {
    margin: 0 0.4rem;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem;
    border: 0.3rem solid transparent;
    border-image: linear-gradient(to right, #f6217d 50%, #235bf3 50%) 1;
    background-clip: padding-box;
}



/* Vehicles */
.vehicle-container{
    width: 100%;
    flex-wrap: wrap;
}

.item {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 1rem;
    border-radius: 0.4rem;
    color: white;
    margin: 0 0.3rem 0.6rem 0.6rem;
    width: 90%;
}

.big-image a img,
.small-images a img {
    border-radius: 0.5rem;
    object-fit: cover;
}

.big-image{
    padding: 0 0 0 0.8rem;
}

.big-image a {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.big-image a img {
    width: 100%;
    height: 16rem;
    object-fit: cover;
}

.small-images a img {
    width: 100%;
    height: 5rem;
    object-fit: cover;
}

.details-vehicle span{
    color: white;
    font-weight: normal;
}

.details-vehicle p{
    color: rgb(54, 53, 53);
    margin-bottom: 0.2rem;
    font-weight: bold;
}

.text-center a{
    color: #e5dbdb;
    text-decoration: none;
}

.button-vehicle a{
    padding: 0;
    text-decoration: none;
    color: blue;
}


.section-pagination{
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 3rem;
}

.no-vehicles{
    margin: 1.5rem 2rem;
}

@media screen and (max-width: 1000px) {

    .container{
        max-width: 60rem;
    }

}

@media screen and (max-width: 900px) {
    .line-with-text{
        margin-top: 6.5rem;
    }

}

@media screen and (max-width: 768px) {
    .container{
        max-width: 50rem;
    }

    .big-image{
        width: 50%;
    }

    .small-images{
        width: 50%;
    }

    .col-md-5{
        width: 50%;
    }

    .pl-0{
        display: inline-block;
        width: 40%;
    }
}
