<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link th:include="~{fragments/head :: head}">
    <link rel="stylesheet" href="/css/add-motorcycle.css">
</head>


<body>

<div>
    <nav th:replace="~{fragments/navigation}"></nav>
</div>

<div class="add-motorcycle">
    <div class="add-form">
        <form th:method="POST" th:action="@{/user/add}">
            <h2>Add Motorcycle</h2>
            <div class="form-group">
                <div>
                    <label for="brand">Brand:</label>
                    <input type="text" id="brand" name="brand" required>
                </div>
                <div>
                    <label for="model">Model:</label>
                    <input type="text" id="model" name="model" required>
                </div>
                <div>
                    <label for="power">Power (hp):</label>
                    <input type="number" id="power" name="power" required>
                </div>
                <div>
                    <label for="mileage">Mileage:</label>
                    <input type="number" id="mileage" name="mileage" required>
                </div>
                <div>
                    <label for="productionDate">Production Date:</label>
                    <input type="date" id="productionDate" name="productionDate" required>
                </div>
                <div>
                    <label for="color">Color:</label>
                    <select id="color" name="color" required>
                        <option value="">- Select color -</option>
                        <option>Color</option>
                    </select>
                </div>
                <div>
                    <label for="location">Location:</label>
                    <input type="text" id="location" name="location" required>
                </div>
                <div>
                    <label for="transmission">Transmission:</label>
                    <select id="transmission" name="transmission" required>
                        <option value="">- Select category -</option>
                        <option>Transmission</option>
                    </select>
                </div>
                <div>
                    <label for="category">Category:</label>
                    <select id="category" name="category" required>
                        <option value="">- Select category -</option>
                        <option>Category</option>
                    </select>
                </div>
                <div>
                    <label for="euro-standard">Euro Standard:</label>
                    <select id="euro-standard" name="euro-standard" required>
                        <option value="">- Select category -</option>
                        <option>Euro Standard</option>

                    </select>
                </div>
                <div>
                    <label for="engine-capacity">Engine Capacity (cc):</label>
                    <input type="number" id="engine-capacity" name="engine-capacity" required>
                </div>
                <div class="engine-type">
                    <label for="engine-type">Engine Type:</label>
                    <select id="engine-type" name="engine-type" required>
                        <option value="">- Select category -</option>
                        <option>Engine Type:</option>
                    </select>
                </div>
            </div>
            <div class="price">
                <label for="price">Price (BGN):</label>
                <input type="number" id="price" name="price" required>
            </div>
            <div class="photos">
                <label for="photos">Photos:</label>
                <input type="file" id="photos" name="photos" multiple accept="image/*">
            </div>
            <div class="more-options">
                <div class="form-check form-check-inline custom-checkbox">
                    <input class="form-check-input" type="checkbox" id="luggageCase" name="lugageCase" value="true">
                    <label class="form-check-label" for="lugageCase">Luggage Case</label>
                </div>
                <div class="form-check form-check-inline custom-checkbox">
                    <input class="form-check-input" type="checkbox" id="sidecar" name="sidecar" value="true">
                    <label class="form-check-label" for="sidecar">Sidecar</label>
                </div>
                <div class="form-check form-check-inline custom-checkbox">
                    <input class="form-check-input" type="checkbox" id="stabilityControl" name="stabilityControl"
                           value="true">
                    <label class="form-check-label" for="stabilityControl">Stability Control</label>
                </div>
            </div>
            <button type="submit">Add Motorcycle</button>
        </form>
    </div>
</div>

<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>