<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link th:include="~{fragments/head :: head}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="/css/contact-us.css">
</head>


<body>

<div>
    <nav th:replace="~{fragments/navigation}"></nav>
</div>

<div class="container">
    <div class="row justify-content-center contact-us">
        <div class="col-md-12">
            <div class="wrapper">
                <div class="row no-gutters mb-4">
                    <div class="col-md-7">
                        <div class="contact-wrap w-100 p-md-5 p-4 text-center">
                            <h3 class="mb-4 contact-text">Contact Us</h3>
                            <div id="form-message-warning" class="mb-4"></div>
                            <form method="POST" id="contactForm" name="contactForm" class="contactForm">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label contact-text" for="name">Full Name</label>
                                            <input type="text" class="form-control" name="name" id="name"
                                                   placeholder="Full Name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label contact-text" for="email">Email Address</label>
                                            <input type="email" class="form-control" name="email" id="email"
                                                   placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="label contact-text" for="subject">Subject</label>
                                            <input type="text" class="form-control" name="subject" id="subject"
                                                   placeholder="Subject">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="label contact-text" for="#">Message</label>
                                            <textarea name="message" class="form-control" id="message" cols="30"
                                                      rows="4" placeholder="Message"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group mt-3 mb-0">
                                            <button class="button">Send Message</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-5 d-flex">
                        <div id="map"></div>
                    </div>
                </div>
                <div class="row text-dar">
                    <div class="col-md-3">
                        <div class="dbox w-100 text-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa-solid fa-location-dot contact-text"></span>
                            </div>
                            <div class="text">
                                <p><span class="contact-text">Address: </span>Pozitano 175 Street, zh.k. Razsadnika
                                    - Koniovitsa</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="dbox w-100 text-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa fa-phone contact-text"></span>
                            </div>
                            <div class="text">
                                <p><span class="contact-text">Phone: </span>+359 xxx xxx xxx </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="dbox w-100 text-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa-regular fa-envelope contact-text"></span>
                            </div>
                            <div class="text">
                                <p><span class="contact-text">Email: </span>example@mail.bg</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="dbox w-100 text-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa fa-globe contact-text"></span>
                            </div>
                            <div class="text">
                                <p><span class="contact-text">Website: </span><a href="/"
                                                                                 class="website">example.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="/js/map-script.js"></script>

<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>