<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link th:include="~{fragments/head :: head}">
    <link rel="stylesheet" href="/css/create-account.css">
</head>

<body>

<div>
    <nav th:replace="~{fragments/navigation}"></nav>
</div>

<div class="register-page">
    <form method="POST" th:action="@{/user/register}" th:object="${userRegisterDTO}" enctype="multipart/form-data">
        <div class="register">
            <div>
                <label class="picture" for="file"><i class="fa fa-camera fa-2x"></i></label>
                <input type="file"
                       id="file"
                       style="display: none;"
                       accept="image/*"
                       name="picture"
                       th:field="*{picture}">
            </div>
            <small id="pictureError"
                   class="bg-danger rounded"
                   th:if="${#fields.hasErrors('picture')}"
                   th:errors="*{picture}">Picture Error
            </small>
            <div class="element" th:style="${#fields.hasErrors('username')} ? 'margin-bottom: 0;' : ''">
                <label for="username"><i class="fa fa-user-circle"></i></label>
                <input id="username"
                       type="text"
                       placeholder="Username"
                       name="username"
                       th:field="*{username}"/>
                <small id="usernameError"
                       class="bg-danger rounded"
                       th:if="${#fields.hasErrors('username')}"
                       th:errors="*{username}">Username Error
                </small>
            </div>
            <div class="element" th:style="${#fields.hasErrors('email')} ? 'margin-bottom: 0;' : ''">
                <label for="email"><i class="fa fa-envelope"></i></label>
                <input id="email"
                       type="email"
                       placeholder="Your Email Address"
                       name="email"
                       th:field="*{email}"/>
                <small id="emailError"
                       class="bg-danger rounded"
                       th:if="${#fields.hasErrors('email')}"
                       th:errors="*{email}">Email Error
                </small>
            </div>
            <div class="element" th:style="${#fields.hasErrors('firstName')} ? 'margin-bottom: 0;' : ''">
                <label for="firstName"><i class="fa fa-user"></i></label>
                <input id="firstName"
                       type="text"
                       placeholder="First Name"
                       name="firstName"
                       th:field="*{firstName}"/>
                <small id="firstNameError"
                       class="bg-danger rounded"
                       th:if="${#fields.hasErrors('firstName')}"
                       th:errors="*{firstName}">First name Error
                </small>
            </div>
            <div class="element" th:style="${#fields.hasErrors('lastName')} ? 'margin-bottom: 0;' : ''">
                <label for="lastName"><i class="fa-regular fa-user"></i></label>
                <input id="lastName"
                       type="text"
                       placeholder="Last Name"
                       name="lastName"
                       th:field="*{lastName}"/>
                <small id="lastNameError"
                       class="bg-danger rounded"
                       th:if="${#fields.hasErrors('lastName')}"
                       th:errors="*{lastName}">Last Name Error
                </small>
            </div>
            <div class="element" th:style="${#fields.hasErrors('age')} ? 'margin-bottom: 0;' : ''">
                <label for="age"><i class="fa fa-calendar"></i></label>
                <input id="age"
                       type="number"
                       placeholder="Age"
                       name="age"
                       th:field="*{age}"/>
                <small id="ageError"
                       class="bg-danger rounded"
                       th:if="${#fields.hasErrors('age')}"
                       th:errors="*{age}">Age Error
                </small>
            </div>
            <div class="element" th:style="${#fields.hasErrors('password')} ? 'margin-bottom: 0;' : ''">
                <label for="password"><i class="fa fa-lock"></i></label>
                <input id="password"
                       type="password"
                       placeholder="Password"
                       name="password"
                       th:field="*{password}"/>
                <small id="passwordError"
                       class="bg-danger rounded"
                       th:if="${#fields.hasErrors('password')}"
                       th:errors="*{password}">Password Error
                </small>
            </div>
            <div class="element">
                <label for="confirmPassword"><i class="fa fa-lock"></i></label>
                <input id="confirmPassword"
                       type="password"
                       placeholder="Re-Enter Password"
                       name="confirmPassword"
                       th:field="*{confirmPassword}"/>
                <small id="confirmPasswordError"
                       class="bg-danger rounded"
                       th:if="${#fields.hasErrors('confirmPassword')}"
                       th:errors="*{confirmPassword}">Confirm password Error
                </small>
            </div>
            <button type="submit">Create Account</button>
        </div>
    </form>
</div>

<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>