<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link th:include="~{fragments/head :: head}">
    <link rel="stylesheet" href="/css/index.css">
</head>


<body>

<div>
    <nav th:replace="~{fragments/navigation}"></nav>
</div>

<th:block sec:authorize="!isAuthenticated()">
    <div class="home">
        <div class="welcome">
            <h1><span class="welcome-title" th:text="#{welcome.title}">Welcome to </span><span class="speedyWheels">SpeedyWheels</span></h1>
            <h2 th:text="#{welcome.subtitle}">Find Your Next Car or Motorcycle in Minutes</h2>
            <p th:text="#{welcome.description}">In three steps you can pick a car or motorcycle, see its price and boom! You're done.</p>
            <p><span th:text="#{welcome.instruction}">To see our services please </span><a th:href="@{/user/login}" th:text="#{welcome.login}">Login</a> <span th:text="#{welcome.or}">or</span> <a th:href="@{/user/register}" th:text="#{welcome.createAccount}">Create Account</a> <span th:text="#{welcome.text}"> !</span></p>
        </div>
    </div>
</th:block>

<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>