<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link th:include="~{fragments/head :: head}">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>

<div>
    <nav th:replace="~{fragments/navigation}"></nav>
</div>

    <div class="login-page">
        <div class="form">
            <form class="login-form acrylic" method="POST" th:action="@{/user/login}">

                <p class="bg-danger text-white pt-2 pb-2 pr-4 pl-4" th:if="${bad_credentials}"
                   th:text="#{login.invalid.credentials}">
                    Invalid username or password.
                </p>
                <span th:text="#{login.title}">Login to your account</span>
                <input id="username" name="username" type="text" th:placeholder="#{login.username.placeholder}" />
                <input id="password" name="password" type="password"  th:placeholder="#{login.password.placeholder}" />
                <button class="login" type="submit"><strong th:text="#{login.submit.button}">LOGIN</strong></button>
                <p class="message"><a th:href="@{/user/register}" th:text="#{login.create.account.link}">Create Account</a></p>
            </form>
        </div>
    </div>

<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>