<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link th:include="~{fragments/head :: head}">
    <link rel="stylesheet" href="/css/my-favorite-vehicles.css">
</head>


<body>

<div>
    <nav th:replace="~{fragments/navigation}"></nav>
</div>


<div class="container mb-5">
    <div class="line-with-text">
        <div class="line-1"></div>
        <div class="text-line" th:text="#{favorite.vehicles.title}">Favorite Vehicles</div>
        <div class="line-2"></div>
    </div>

    <div th:if="${favoriteVehicles.isEmpty()}" class="alert alert-warning mt-4 text-center no-favorite-vehicles" role="alert"
         th:text="#{favorite.vehicles.no.available}">
        No vehicles available at the moment.
    </div>

    <div class="row">
        <div class="col-lg-10 mx-auto mt-4">
            <ul class="list-group shadow">

                <li class="list-group-item mb-1" th:each="vehicle : ${favoriteVehicles}">
                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                        <div class="media-body order-2 order-lg-1">
                            <a th:href="'/vehicles/vehicle-profile/' + ${vehicle.type} + '/' + ${vehicle.id}">
                                <h5 class="mt-0 font-weight-bold mb-2"
                                    th:text="${vehicle.brand} + ' ' + ${vehicle.model}">Brand & Model</h5>
                            </a>
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <p class="font-italic text-muted mb-0 small mt-3 mr-3">
                                    <span><span th:text="${vehicle.power}">200</span> <span th:text="#{favorite.vehicles.hp}">hp</span> | </span>
                                    <span><span th:text="${vehicle.mileage}">15 000</span> <span th:text="#{favorite.vehicles.km}">km</span> | </span>
                                    <span><span th:text="${vehicle.productionDate}">January 2016</span> | </span>
                                    <span><span th:text="${vehicle.color.getName(#locale)}">Red</span> | </span>
                                    <span><span th:text="${vehicle.transmission.getName(#locale)}">Manual</span> | </span>
                                    <span><span th:text="${vehicle.euroStandard.getName(#locale)}">Euro</span>  | </span>
                                    <span><span th:text="${vehicle.cubicCapacity}">2000</span> <span th:text="#{favorite.vehicles.cc}">cc</span> | </span>
                                    <span><span th:text="${vehicle.engineType.getName(#locale)}">Diesel</span></span>
                                </p>
                                <h6 class="font-weight-bold my-2 mr-3 price" th:text="${vehicle.price} + ' BGN'">
                                    20,000</h6>
                                <div class="text-center buttons">
                                    <a th:href="'/vehicles/vehicle-profile/' + ${vehicle.type} + '/' + ${vehicle.id}"
                                       class="btn btn-info mb-3"><i class="fas fa-info-circle"></i>
                                        <span th:text="#{favorite.vehicles.infoButton}">Info</span></a>
                                    <form th:action="'/vehicles/delete-favorite-vehicle/' + ${vehicle.type} + '/' + ${vehicle.id} + '/' + ${page}"
                                          method="POST">
                                        <input type="hidden" name="_method" value="DELETE"/>
                                        <button type="submit" class="btn btn-danger"><i class="fa-solid fa-star"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <a th:href="'/vehicles/vehicle-profile/' + ${vehicle.type} + '/' + ${vehicle.id}"
                           class="ml-4 order-1 order-lg-1">
                            <img th:src="${vehicle.getPhotosUrls().get(0)}" alt="Image" class=" order-1 order-lg-2"></a>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>


<!-- Pagination Controls -->
<th:block th:if="${favoriteVehicles.totalElements > 0}">
    <div class="row justify-content-center mt-3 section-pagination">
        <div class="pagination-controls">
            <div aria-label="Page navigation">
                <ul class="pagination">

                    <!-- First Page -->
                    <li class="page-item" th:classappend="${favoriteVehicles.number == 0 ? 'disabled' : ''}">
                        <a th:unless="${favoriteVehicles.number == 0}" class="page-link"
                           th:href="@{'/user/favorite-vehicles?page=0'}" th:text="#{favorite.vehicles.first}">First</a>
                        <a th:if="${favoriteVehicles.number == 0}" class="page-link" href="#" th:text="#{favorite.vehicles.first}">First</a>
                    </li>

                    <!-- Previous Page -->
                    <li class="page-item" th:classappend="${favoriteVehicles.number == 0 ? 'disabled' : ''}">
                        <a th:unless="${favoriteVehicles.number == 0}" class="page-link"
                           th:href="@{'/user/favorite-vehicles?page=' + ${favoriteVehicles.number - 1}}" th:text="#{favorite.vehicles.previous}">Previous</a>
                        <a th:if="${favoriteVehicles.number == 0}" class="page-link" href="#" th:text="#{favorite.vehicles.previous}">Previous</a>
                    </li>

                    <!-- Page Numbers -->
                    <th:block th:if="${favoriteVehicles.totalPages <= 5}">
                        <th:block th:each="i : ${#numbers.sequence(0, favoriteVehicles.totalPages - 1)}">
                            <li class="page-item" th:classappend="${favoriteVehicles.number == i ? 'active' : ''}">
                                <a class="page-link"
                                   th:href="@{'/user/favorite-vehicles' + '?page=' + ${i}}" th:text="${i + 1}"></a>
                            </li>
                        </th:block>
                    </th:block>

                    <th:block th:if="${favoriteVehicles.totalPages > 5}">
                        <th:block th:if="${favoriteVehicles.number < 2}">
                            <th:block th:each="i : ${#numbers.sequence(0, 4)}">
                                <li class="page-item" th:classappend="${favoriteVehicles.number == i ? 'active' : ''}">
                                    <a class="page-link"
                                       th:href="@{'/user/favorite-vehicles' + '?page=' + ${i}}" th:text="${i + 1}"></a>
                                </li>
                            </th:block>
                            <li class="page-item disabled"><span class="page-link">...</span></li>
                            <li class="page-item">
                                <a class="page-link"
                                   th:href="@{'/user/favorite-vehicles' + '?page=' + ${favoriteVehicles.totalPages - 1}}"
                                   th:text="${favoriteVehicles.totalPages}"></a>
                            </li>
                        </th:block>

                        <th:block th:if="${favoriteVehicles.number >= favoriteVehicles.totalPages - 2}">
                            <li class="page-item">
                                <a class="page-link"
                                   th:href="@{'/user/favorite-vehicles' + '?page=0'}" th:text="1"></a>
                            </li>
                            <li class="page-item disabled"><span class="page-link">...</span></li>
                            <th:block th:each="i : ${#numbers.sequence(favoriteVehicles.totalPages - 5, favoriteVehicles.totalPages - 1)}">
                                <li class="page-item" th:classappend="${favoriteVehicles.number == i ? 'active' : ''}">
                                    <a class="page-link"
                                       th:href="@{'/user/favorite-vehicles' + '?page=' + ${i}}" th:text="${i + 1}"></a>
                                </li>
                            </th:block>
                        </th:block>

                        <th:block th:if="${favoriteVehicles.number >= 2 && favoriteVehicles.number < favoriteVehicles.totalPages - 2}">
                            <li class="page-item">
                                <a class="page-link"
                                   th:href="@{'/user/favorite-vehicles' + '?page=0'}" th:text="1"></a>
                            </li>
                            <li class="page-item disabled"><span class="page-link">...</span></li>
                            <th:block th:each="i : ${#numbers.sequence(favoriteVehicles.number - 1, favoriteVehicles.number + 1)}">
                                <li class="page-item" th:classappend="${favoriteVehicles.number == i ? 'active' : ''}">
                                    <a class="page-link"
                                       th:href="@{'/user/favorite-vehicles' + '?page=' + ${i}}" th:text="${i + 1}"></a>
                                </li>
                            </th:block>
                            <li class="page-item disabled"><span class="page-link">...</span></li>
                            <li class="page-item">
                                <a class="page-link"
                                   th:href="@{'/user/favorite-vehicles' + '?page=' + ${favoriteVehicles.totalPages - 1}}"
                                   th:text="${favoriteVehicles.totalPages}"></a>
                            </li>
                        </th:block>
                    </th:block>

                    <!-- Next Page -->
                    <li class="page-item" th:classappend="${favoriteVehicles.number == favoriteVehicles.totalPages - 1 ? 'disabled' : ''}">
                        <a th:unless="${favoriteVehicles.number == favoriteVehicles.totalPages - 1}" class="page-link"
                           th:href="@{'/user/favorite-vehicles' + '?page=' + ${favoriteVehicles.number + 1}}" th:text="#{favorite.vehicles.next}">Next</a>
                        <a th:if="${favoriteVehicles.number == favoriteVehicles.totalPages - 1}" class="page-link" href="#" th:text="#{favorite.vehicles.next}">Next</a>
                    </li>

                    <!-- Last Page -->
                    <li class="page-item" th:classappend="${favoriteVehicles.number == favoriteVehicles.totalPages - 1 ? 'disabled' : ''}">
                        <a th:unless="${favoriteVehicles.number == favoriteVehicles.totalPages - 1}" class="page-link"
                           th:href="@{'/user/favorite-vehicles' + '?page=' + ${favoriteVehicles.totalPages - 1}}" th:text="#{favorite.vehicles.last}">Last</a>
                        <a th:if="${favoriteVehicles.number == favoriteVehicles.totalPages - 1}" class="page-link" href="#" th:text="#{favorite.vehicles.last}">Last</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</th:block>
<!-- End Pagination Controls -->


<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>