<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link th:include="~{fragments/head :: head}">
    <link rel="stylesheet" href="/css/vehicle-profile.css">
</head>


<body>

<div>
    <nav th:replace="~{fragments/navigation}"></nav>
</div>


<div class="container mt-4 mb-5">
    <div class="line-with-text">
        <div class="line-1"></div>
        <div class="text-line" th:text="${vehicle.brand} + ' ' + ${vehicle.model}">...Brand and Model..</div>
        <div class="line-2"></div>
    </div>

    <div id="big-images" class="carousel slide mt-4">
        <div class="carousel-inner">
            <div th:each="photo, iterStat : ${vehicle.photosUrls}"
                 th:class="${iterStat.index == 0} ? 'carousel-item active' : 'carousel-item'">
                <img th:src="@{${photo}}" class="d-block w-100" alt="Image">
            </div>
        </div>
        <a class="carousel-control-prev" href="#big-images" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#big-images" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="small-images justify-content-center mt-3">
        <img th:each="photo, iterStat : ${vehicle.photosUrls}" th:src="@{${photo}}" alt="Image"
             th:onclick="'manualPictureNavigation(' + ${iterStat.index} + ')'" class="d-block w-100">
    </div>

    <div class="description text-center mt-4">
        <h5>Vehicle Info</h5>
        <div class="row justify-content-around">
            <div>
                <p><span class="description-text">Power(hp): </span></p>
                <p><span class="description-text">Mileage: </span></p>
                <p><span class="description-text">Production Date: </span></p>
                <p><span class="description-text">Color: </span></p>
                <p><span class="description-text">Location: </span></p>
                <p><span class="description-text">Registered On: </span></p>
                <p><span class="description-text">Transmission: </span></p>
                <p><span class="description-text">Euro Standard: </span></p>
                <p><span class="description-text">Cubic: </span></p>
                <p><span class="description-text">Engine Type: </span></p>
                <p><span class="description-text">Category: </span></p>
                <p><span class="description-text">Price: </span></p>
            </div>
            <div>
                <p><span th:text="${vehicle.power}">...</span></p>
                <p><span th:text="${vehicle.mileage}">...</span></p>
                <p><span th:text="${vehicle.productionDate}">...</span></p>
                <p><span th:text="${vehicle.color.getName()}">...</span></p>
                <p><span th:text="${vehicle.location}">...</span></p>
                <p><span th:text="${vehicle.registeredOn}">...</span></p>
                <p><span th:text="${vehicle.transmission.getName()}">...</span></p>
                <p><span th:text="${vehicle.euroStandard.getName()}">...</span></p>
                <p><span th:text="${vehicle.cubicCapacity}">...</span></p>
                <p><span th:text="${vehicle.engineType.getName()}">...</span></p>
                <p><span th:text="${vehicle.category.getName()}">...</span></p>
                <p><span th:text="${vehicle.price} + ' BGN'">... BGN</span></p>
            </div>
        </div>
        <div class="items">
            <th:block th:if="${vehicleType == 'car'}">
                <div>
                    <i class="fa-solid fa-check" th:if="${vehicle.has4x4}"></i>
                    <i class="fa-solid fa-times" th:unless="${vehicle.has4x4}"></i>
                    <label>4x4</label>
                </div>
                <div>
                    <i class="fa-solid fa-check" th:if="${vehicle.hasAirConditioner}"></i>
                    <i class="fa-solid fa-times" th:unless="${vehicle.hasAirConditioner}"></i>
                    <label>Climate Control</label>
                </div>
                <div>
                    <i class="fa-solid fa-check" th:if="${vehicle.hasGPS}"></i>
                    <i class="fa-solid fa-times" th:unless="${vehicle.hasGPS}"></i>
                    <label>GPS Navigation</label>
                </div>
            </th:block>
            <th:block th:if="${vehicleType == 'motorcycle'}">
                <div>
                    <i class="fa-solid fa-check" th:if="${vehicle.hasLuggageCase}"></i>
                    <i class="fa-solid fa-times" th:unless="${vehicle.hasLuggageCase}"></i>
                    <label>Luggage Case</label>
                </div>
                <div>
                    <i class="fa-solid fa-check" th:if="${vehicle.hasSidecar}"></i>
                    <i class="fa-solid fa-times" th:unless="${vehicle.hasSidecar}"></i>
                    <label>Sidecar</label>
                </div>
                <div>
                    <i class="fa-solid fa-check" th:if="${vehicle.hasStabilityControl}"></i>
                    <i class="fa-solid fa-times" th:unless="${vehicle.hasStabilityControl}"></i>
                    <label>Stability Control</label>
                </div>
            </th:block>
        </div>
        <form th:action="'/vehicles/add/' + ${vehicleType} + '/' + ${vehicle.id}" method="POST"
              th:if="${!isFavorite} and !${isOwner}">
            <button type="submit" class="btn btn-danger bg-success"><i class="fa-regular fa-star"></i></button>
        </form>
        <form th:action="'/vehicles/delete-favorite-vehicle/' + ${vehicleType} + '/' + ${vehicle.id} + '/' + ${page}" method="POST"
              th:if="${isFavorite}">
            <input type="hidden" name="_method" value="DELETE"/>
            <button type="submit" class="btn btn-danger"><i class="fa-solid fa-star"></i></button>
        </form>


        <form th:action="'/vehicles/delete-vehicle/' + ${vehicleType} + '/' + ${vehicle.id} + '/' + ${page}" method="POST"
              th:if="${isAdmin or isOwner}">
            <input type="hidden" name="_method" value="DELETE"/>
            <button type="submit" class="btn btn-danger btn-sm mt-2">
                <i class="fas fa-trash-alt"></i> Delete
            </button>
        </form>
    </div>

    <div id="vehicle-data"
         th:attr="data-vehicle-type=${vehicleType}, data-vehicle-id=${vehicle.id}, data-user=${user}, data-is-owner=${isOwner}, data-is-admin=${isAdmin}">
    </div>

    <div>
        <div class="container mt-4 mb-5  comments">
            <div class="row d-flex justify-content-center ">
                <div class="w-100">
                    <div class="d-flex justify-content-center align-items-center mb-4 ">
                        <h4 class="text-body mb-0 text-white">Comments</h4>
                    </div>
                    <form class="form-add-comment"
                          th:action="'/comments/add-comment/' + ${vehicleType} + '/' + ${vehicle.id}" method="POST">
                        <div class="form-group">
                            <textarea class="form-control" id="comment" name="comment" rows="3"
                                      placeholder="Add a comment"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>

                    <div class="card mb-3" id="card-section">
                        <div class="card-body">
                            <div class="d-flex flex-start">
                                <img class="rounded-circle shadow-1-strong me-3 mr-3"
                                      alt="avatar"
                                     width="40" height="40"/>
                                <div class="w-100">
                                    <div class="d-flex align-items-center mb-3">
                                        <h6 class="text-success fw-bold mb-0">
                                        </h6>
                                        <span class="text-body ms-2 text-white ml-1">....</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const vehicleDataElement = document.getElementById('vehicle-data');
        const vehicleType = vehicleDataElement.getAttribute('data-vehicle-type');
        const vehicleId = vehicleDataElement.getAttribute('data-vehicle-id');
        const user = vehicleDataElement.getAttribute('data-user');
        const isOwner = vehicleDataElement.getAttribute('data-is-owner');
        const isAdmin = vehicleDataElement.getAttribute('data-is-admin');

        const cardSection = document.getElementById('card-section');

        fetch(`/comments/${vehicleType}/${vehicleId}`)
            .then(response => response.json())
            .then(comments => {
                const commentsHTML = comments.map(comment => `
                        <div class="card-body">
                            <div class="d-flex flex-start">
                                <img class="rounded-circle shadow-1-strong me-3 mr-2" src="${comment.userProfilePictureUrl}" alt="avatar" width="40" height="40"/>
                                <div class="w-100">
                                    <div class="d-flex align-items-center mb-3">
                                        <h6 class="text-success fw-bold mb-0">${comment.userUsername}:</h6>
                                        <span class="text-body ms-2 text-white">${comment.comment}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                `).join('');

                cardSection.innerHTML = commentsHTML;
            })
            .catch(error => console.error('Error fetching comments:', error));
    });


</script>


<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>