<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link th:include="~{fragments/head :: head}">
    <link rel="stylesheet" href="/css/vehicles.css">
</head>


<body>

<div>
    <nav th:replace="~{fragments/navigation}"></nav>
</div>

<div class="line-with-text">
    <div class="line-1"></div>
    <div class="text-line">Vehicle Showcase</div>
    <div class="line-2"></div>
</div>


<div class="container ml-auto mr-auto vehicle-container d-flex justify-content-center row mt-4 mb-5">
    <div class="item">
        <div class="row">
            <div class="col-md-5">
                <div class="photo">
                    <div class="row">
                        <div class="col-md-8 big-image">
                            <a href="#" class="d-block text-center">
                                <img src="/images/test.jpeg" class="img-fluid" alt="Image">
                            </a>
                        </div>
                        <div class="col-md-4 small-images d-flex flex-column justify-content-between">
                            <a href="#" class="d-block mb-2 flex-fill"><img src="/images/test.jpeg" class="img-fluid"
                                                                            alt="Image"></a>
                            <a href="#" class="d-block mb-2 flex-fill">
                                <img src="/images/test.jpeg" alt="Image"></a>
                            <a href="#" class="d-block flex-fill"><img src="/images/test.jpeg" class="img-fluid"
                                                                       alt="Image"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text pl-0 pr-0">
                <div class="text-center mb-1">
                    <a href="#" class="title h6 font-weight-bold">...Brand & Model...</a>

                </div>

                <div class="details-vehicle">
                    <p><span>Power(hp): </span>...</p>
                    <p><span>Mileage: </span>...</p>
                    <p><span>Location: </span>...</p>
                    <p><span>Engine Type: </span>...</p>
                    <p><span>Price: </span>... BGN</p>
                </div>
                <div class="button-vehicle">
                    <a href="#" class="">Details</a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>